body {
font-family: 'Oswald', sans-serif;
}
.image {
background-image: url('../img/hero.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: left;
padding-top:30px;
padding-bottom: 30px;
width:100vh;
}
.font-italic {
padding: 50px;
}
.bordeAside {
border-top: 5px solid;
padding:20px;
width: 200px;
margin:0 auto;
}
.texto {
padding:100px;
}
.borde {
border-top: 10px solid;
padding: 50px;
}
.navbar, footer {
background-color: #660066;
}
